@import "../Common/SCSS/variables";

.wrapper {
    margin: 10px;
}

.trackWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 45%;
    border: $goldColor 1px solid;
    border-radius: 7px;
    margin: 5px;
    @media screen and (max-width: 760px) {
        width: 60%;
    } @media screen and (max-width: 600px) {
        width: 80%;
    }

}

.track {
    align-items: center;
    margin-left: 15px;
    font-size: 25px;
}

