.descriptionBlock{
    padding: 10px;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 750px) {
        flex-direction: column;
    }
}


.inputFile{
    display: flex;
    flex-direction: column;
    height: 25px;
    width: 150px;
    font-size: 10px;
}
.avatarContainer{
    width: 170px;
    .avatar {
        width: 150px;
        border-radius: 7px;
    }
}


.detailedInfo{

    .titleDetailedInfo{
        color: white;
        padding-bottom: 7px;
        @media screen and (max-width: 500px) {
            font-size: 19px;
        }
    }
}


.infoBlock{
    margin-left: 20px;
    width: 100%;
}


.contact{
    padding-left: 15px;
    font-weight: normal;
    @media screen and (max-width: 915px) {
        width: 200px;
        font-size: 15px;
    }
}