.descriptionBlock{
    padding: 10px;
}


.inputFile{
    display: flex;
    flex-direction: column;
    height: 25px;
    width: 150px;
    font-size: 10px;
}



.avatar {
    width: 150px;
    border-radius: 7px;
}




.contact{
    padding-left: 15px;
    font-weight: normal;
}