.userWrapper{
    padding: 10px;
}

.user {
    border: #020202 dashed 1px;
    border-radius: 7px;
    margin: 4px;
    padding: 3px;
}
.userPhoto{
    width: 100px;
    border: #020202 solid 1px;
    border-radius: 7px;
}


.btn {
    background: gold;
    font-weight: bold;
    color: #030303;
    width: 100px;
    padding: 7px;
    border: #020202 solid 1px;
    border-radius: 7px;
}