
.textarea {
    width: 400px;
    height: 80px;
    margin: 10px;
    border: #020202 solid 1px;
    border-radius: 7px;

}

.btn {
    background: gold;
    font-weight: bold;
    color: #030303;
    width: 100px;
    padding: 7px;
    margin: 5px 10px 10px 300px;
    border: #020202 solid 1px;
    border-radius: 7px;

}
.postsBlock{
    padding: 15px;
}