@import "../SCSS/variables.scss";


.formControl.error input,
.formControl.error textarea {
  border: solid 1px $redColor;
}

.formControl.error span {
  color: $redColor;
  font-size: 15px;
}

.formSummaryError {
  border: $redColor 1px solid;
  padding: 5px;
  color: $blackColor;
  font-size: 15px;
}

.titlesForm {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 915px) {
    width: 200px;
    font-size: 15px;
  }
  @media screen and (max-width: 715px) {
    width: 150px;
    font-size: 12px;
  }
}


.loginFormWrapper {
  margin: 30px;
  justify-content: center;
  border: $textColor 1px solid;
  border-radius: 7px;
  width: 50%;
  max-height: 440px;
  padding: 20px;
  @media screen and (max-width: 815px) {
    margin: 10px;
    font-size: 15px;
    font-weight: normal;
  }
  @media screen and (max-width: 500px) {
    margin: 2px;
    font-size: 15px;
    font-weight: normal;
    padding: 10px;
    width: 85%;
  }
}

.logPas {
  color: $goldColor;
}


