

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Special+Elite&display=swap');
.nav {
    grid-area: n;
    padding: 7px;
    color: gold;
    font-weight: bolder;
    font-size: 40px;
    border: #ffffff 1px solid;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.5);
}


.item a{
    text-decoration: none;
    color: gold;

}

.item a.active {
    color: white;
}