@import '../Common/SCSS/variables';

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Special+Elite&display=swap');
.nav {
    grid-area: n;
    padding: 7px;
    color: $goldColor;
    font-weight: bolder;
    font-size: 40px;
    border: $textColor 1px solid;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.5);
    @media screen and (max-width: 820px) {
        width: 135px;
        font-size: 25px;
    } @media screen and (max-width: 500px) {
        width: 120px;
        font-size: 20px;
    }
}


.item a{
    text-decoration: none;
    color: $goldColor;

}

.item a.active {
    color: $textColor;
}