

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Special+Elite&display=swap');
.nav {
    background-image: url("https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/158053304_1671964369665757_5198929715895680804_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeExHG-aNuNRp0XB-IhaDUnaMM8QbJUmAx4wzxBslSYDHkrg6HROcbHkODi7aZ9m-MiCwO4QDK7awjnC9tQBuUVW&_nc_ohc=__P3d-2jn2wAX-0rLG9&_nc_ht=scontent-frt3-1.xx&oh=660143a573440e6765116e6c876732a9&oe=606861B0");
    grid-area: n;
    padding: 7px;
    color: gold;
    font-weight: bolder;
    font-size: 40px;
    border: #ffffff 0.5px solid;
    border-radius: 7px;

}


.item a{
    text-decoration: none;
    color: gold;

}

.item a.active {
    color: white;
}