@import '../../../Common/SCSS/variables';

.item {
    margin: 10px 0  0 20px;
    color: $textColor;
    font-size: 25px;
    padding-bottom: 10px;
    .img {
        width: 80px;
        border-radius: 50px;
        border: $goldColor 3px solid;
    }
    .like{
        font-size: 18px;
    }
}


