$textColor: #ffffff;
$primaryColor: #4e93e6;
$goldColor: #fdd602;
$blackColor: #000000;
$greenColor: #017e01;
$redColor: #fd0202;

$titleFontFamily: 'Josefin Sans', sans-serif;
$textFontFamily: 'Poppins', sans-serif;