

.AppBG {
    background-image: url("https://img5.goodfon.ru/wallpaper/nbig/c/25/tekstura-fon-uzor-retro-vintazh-chernyi-seryi.jpg");
    background-repeat: repeat ;
    min-height: 100vh;
    background-attachment: fixed  ;
}

.app-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-areas:
      'h h '
      'n c';
    grid-template-rows: 150px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

}

.app-wrapper-content {
    display: grid;
    grid-template: 'c';
    min-width: 100%;
    min-height: 70vh;

    background: rgba(255, 255, 255, 0.5);
    border: white 1px solid;
    border-radius: 7px;
    color: white;
    font-size: 20px;
}
