
.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
}

.dialogsItem {
    padding: 10px;
    font-size: 25px;
    font-weight: bolder;
}

.dialog a{
    margin: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: none;
}
.dialog a.activeDialog{
    color: gold;
}

.messages {
    padding: 20px;
}

.message {

}