@import "../Common/SCSS/variables.scss";

.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-template-rows: 200px 200px ;
}

.dialogsItem {
    padding: 10px;
    font-size: 25px;
    font-weight: bolder;
}

.dialog a{
    margin: 10px;
    color: $textColor;
    text-decoration: none;
    text-transform: none;
}
.dialog a.activeDialog{
    color: $goldColor;
}

.messages {
    padding: 20px;
}




